<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheeses</title>
</head>
<body>
    <h1>Welcome to CheeseWheel</h1>
    <p>An app for tracking your cheeses.</p>
    
<a href="/cheeses">Appreciate Cheese Collection</a>


</body>
</html>